.quiz {
 height: 70%;
 position: relative;
}

.overlay {
  position: absolute;
  /* width: 500px; */
  height: 400px;
  /* top: 14%; */
  top: 10%;
  left: 50%;
  transform: translate(calc(-50%));
  pointer-events: none;
}

.image {
  margin: 0 auto;
  height: 80%;
  display: block;
}

.buttons {
  display: block;
  margin: 50px auto;
  width: 20%;
}

.realButton, .fakeButton, .nextButton {
  /* display: block; */
}

.nextButton {
  margin: 50px auto;
  display: block;
}

.realButton {
  float: right;

}

.fakeButton {
  float: left;
}

.hidden {
  display: none;
}