.app {

}

.number {
  display: inline-block;
  position: absolute;
  left: 5%;
}

.title {
  font-size: 36px;
  text-align: center;
}
.score {
  display: inline-block;
  position: absolute;
  right: 5%;
}